@{
    ViewBag.Title = "Listagem de grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .cor-conteudo{
            color:black;
                }
        .td:hover{
            color:#428bcd;
            
        }
    </style>
}
<p>&nbsp;</p>
<div class="cor-conteudo">
    <div class="spacerBody" style="padding:50px; width:45%;">
        @Html.ActionLink("Criar novo grupo", "RoleCreate") | @Html.ActionLink("Adicionar usuário a um grupo", "RoleAddToUser")
        
        <h2>Grupos</h2>
        <div class="table">


            @foreach (string s in Model)
            {
                <div class="tr">
                    
                    <div class="td" style="height:25px;">

                        <span style="font-size:17px; font-family:'Montserratf' sans-serif;">@s</span>
                       
                            <span onclick="return confirm('Tem certeza que deseja excluir?')">

                                
                                <a href="/Account/RoleDelete?RoleName=@s" class="delLink" title="Excluir"><i class="glyphicon glyphicon-trash"  style="float:right;"></i></a>

                            </span>
                   
                    </div>
                </div>
            }
        </div>
    </div>
</div>