@{
    ViewBag.Title = "Semacesso";
}
<head>
    <style>
        h4, a {
            color: #4784AB;
            font-family: 'Lato', Arial, sans-serif;
            text-transform: uppercase;
            font-size: 15px;
            padding-left:20px;
        }
    </style>
</head>
<script>
function goback() {
    history.go(-1);
}
</script>
<div class="cor-conteudo">
    <p>
       <h4>Desculpe, você não tem permissão para acessar esse departamento<a href="javascript:goback()" style="color:mediumslateblue;">(Voltar)</a></h4>
    </p>
    </div>
